:root {
  /* Primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);

  /* Neutral */
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Transition */
  --trnsition: 300ms;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.overlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 14;
  opacity: 0;
  visibility: hidden;
  transition: var(--trnsition);
}
.overlayer.show {
  opacity: 1;
  visibility: visible;
}

.App {
  width: 100%;
  height: 100vh;
}

/* Header */
.header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--grayishBlue);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.header nav ul {
  position: absolute;
  width: 80%;
  left: -100%;
  top: 0;
  background: white;
  height: 100vh;
  display: block;
  z-index: 15;
  transition: var(--trnsition);
}
header nav ul.show {
  left: 0;
}

.header nav ul > img {
  margin-top: 20px;
  margin-left: 20px;
}

.header nav ul li {
  padding: 38px;
  color: var(--veryDarkBlue);
  border-bottom: 1px solid var(--veryDarkBlue);
}
.header nav .humburgur {
  height: 15px;
}

.header .serviece {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header .serviece .cart-ico {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .serviece .user img {
  width: 45px;
  cursor: pointer;
}

/* Cart Box */
.cart {
  position: absolute;
  width: calc(96% - 32px);
  top: 105%;
  right: 2%;
  height: calc(220.09px - 32px);
  background-color: var(--white);
  border-radius: 10px;
  padding: 16px;
  padding-bottom: 35px;
  z-index: 13;
  opacity: 0;
  visibility: hidden;
  transition: var(--trnsition);
}
.cart.show {
  top: 110%;
  opacity: 1;
  visibility: visible;
}

.cart .head {
  border-bottom: 1px solid var(--grayishBlue);
  padding-bottom: 16px;
}

.cart .item .info {
  display: flex;
  margin-block: 11px;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.cart .item .info > img {
  width: 82px;
  border-radius: 10px;
}

.cart .item .info .delete {
  width: 25px;
}

.cart .item .checkout {
  width: 100%;
}

.price-calc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  color: var(--darkGrayishBlue);
}

.price-calc .full-price {
  font-weight: 700;
  color: var(--veryDarkBlue);
}

.no-items-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--darkGrayishBlue);
}

/* Image Slide */
.prod-img .main-img {
  position: relative;
  overflow: hidden;
}

.prod-img .left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prod-img .left-arrow {
  left: 5%;
}

.prod-img .right-arrow {
  right: 5%;
}

.prod-img .product-imgs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: var(--trnsition);
}

/* Info Text */
.info-text {
  margin-top: 10px;
  padding: 10px;
}

/* Texts */
.info-text .text span {
  display: block;
  color: orange;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.info-text .text p {
  color: var(--darkGrayishBlue);
  font-size: 17px;
  line-height: 1.6;
  margin: 0 0 10px 0;
}

/* Price */
.info-text > .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.price .discount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.price .discount span.discount-percentage {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--paleOrange);
  border-radius: 10px;
  color: var(--orange);
}

.price .full-price {
  text-decoration: line-through;
  color: gray;
  font-size: 18px;
}
.buy .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--paleOrange);
  padding: 10px;
  border-radius: 10px;
}
.buy .count span:nth-child(2) {
  color: var(--veryDarkBlue);
  font-size: 22px;
  font-weight: 700;
}

.buy .count span:nth-child(1),
.buy .count span:nth-child(3) {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.buy-btn {
  width: 100%;
  padding: 16px;
}

/* Responsive */
@media (min-width: 992px) {
  .continer {
    width: 80%;
  }
  .header nav .humburgur {
    display: none;
  }
  .header nav ul {
    display: flex;
    position: relative;
    left: 0;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .header nav ul li {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-bottom-color var(--trnsition);
  }
  .header nav ul li:hover {
    border-bottom-color: var(--orange);
  }
  .header nav ul > img {
    display: none;
  }
  .cart {
    width: 350px;
    right: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .prod-img {
    width: 450px;
  }
  .left {
    flex: 1;
  }
  .right {
    flex: 1;
  }
  .prod-img .main-img {
    width: 450px;
    border-radius: 10px;
  }
  .prod-img .main-img img {
    border-radius: 10px;
  }
  .prod-img .product-imgs {
    width: 450px;
    height: 450px;
  }
  .prod-img .thumbnails .thumbnail img {
  }
  .main {
    width: 80%;
    height: calc(100% - 103px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-text > .price {
    margin-top: 120px;
  }
  .buy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  .buy .count {
    margin: 0;
    width: 50%;
  }
  .buy-button {
    width: 50%;
  }
  .info-text > .price {
    width: 40%;
  }
}
